
@font-face {
	font-family:'LGSmHa';
	font-style:normal;
	font-weight:bold;
	src:url(../fonts/LGSmHaB_v1.4_151215.eot);
	src:url(../fonts/LGSmHaB_v1.4_151215.eot?#iefix) format('embedded-opentype');
	src: url(../fonts/LGSmHaB_v1.4_151215.svg#LGSmHaB_v1.4_151215) format('svg');
	src:url(../fonts/LGSmHaB_v1.4_151215.woff2) format('woff2');
	src:url(../fonts/LGSmHaB_v1.4_151215.woff) format('woff');
}

@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/noto-sans-kr-v27-korean-regular.eot');
	src: local(''),
	url('../fonts/noto-sans-kr-v27-korean-regular.eot?#iefix') format('embedded-opentype'),
	url('../fonts/noto-sans-kr-v27-korean-regular.woff2') format('woff2'),
	url('../fonts/noto-sans-kr-v27-korean-regular.woff') format('woff'),
	url('../fonts/noto-sans-kr-v27-korean-regular.ttf') format('truetype'),
	url('../fonts/noto-sans-kr-v27-korean-regular.svg#NotoSansKR') format('svg');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: bold;
	src: url('../fonts/noto-sans-kr-v27-korean-700.eot');
	src: local(''),
	url('../fonts/noto-sans-kr-v27-korean-700.eot?#iefix') format('embedded-opentype'),
	url('../fonts/noto-sans-kr-v27-korean-700.woff2') format('woff2'),
	url('../fonts/noto-sans-kr-v27-korean-700.woff') format('woff'),
	url('../fonts/noto-sans-kr-v27-korean-700.ttf') format('truetype'),
	url('../fonts/noto-sans-kr-v27-korean-700.svg#NotoSansKR') format('svg');
}
@font-face {
	font-family: 'Noto Sans KR';
	font-style: normal;
	font-weight: 900;
	src: url('../fonts/noto-sans-kr-v27-korean-900.eot');
	src: local(''),
	url('../fonts/noto-sans-kr-v27-korean-900.eot?#iefix') format('embedded-opentype'),
	url('../fonts/noto-sans-kr-v27-korean-900.woff2') format('woff2'),
	url('../fonts/noto-sans-kr-v27-korean-900.woff') format('woff'),
	url('../fonts/noto-sans-kr-v27-korean-900.ttf') format('truetype'),
	url('../fonts/noto-sans-kr-v27-korean-900.svg#NotoSansKR') format('svg');
}
@font-face {
    font-family: 'Katuri';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_13@1.0/Katuri.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* ***** common ***** */
body, textarea, button {font-family:"Noto Sans KR", -apple-system, "droid sans fallback", "Apple SD Gothic Neo", AppleGothic, "Malgun Gothic", "맑은 고딕", Dotum, 돋움, sans-serif;}
body, ul, input, h3, dl, dd {padding:0; margin:0;}
li {list-style:none;}
button {cursor:pointer;}
.blind {position:absolute !important; overflow:hidden !important; width:1px !important; height:1px !important; margin:0 !important; padding:0 !important; clip:rect(0,0,0,0); border:0 !important;}